
@{
    ViewData["Title"] = "Contact";
}

<section id="testimonial" class="padding-medium bg-primary-subtle">
    <div class="container">
        <div class="text-center mb-4">
            <p class="text-secondary ">What our students say about us</p>
            <h2 class="display-6 fw-semibold">Reviews</h2>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="swiper testimonial-swiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide pe-md-5">
                            <div class="my-4">
                                <p class="text-muted">
                                    “Condimentum vel viverra morbi quisque lobortis eu leo. A nulla pulvinar at
                                    ut in sit libero, sed. Quis congue pretium in enim gravida quam netus in lorem. Nulla at nibh lorem
                                    nunc sapien egestas at cursus. ”
                                </p>
                                <div class="row">
                                    <div class="col-3">
                                        <img src="~/images/reviwer1.jpg" alt="img" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="col-9">
                                        <h5 class="m-0 mt-2">Recco Gracia</h5>
                                        <p class="text-muted">Web Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide pe-md-5">
                            <div class="my-4">
                                <p class="text-muted">
                                    “Condimentum vel viverra morbi quisque lobortis eu leo. A nulla pulvinar at
                                    ut in sit libero, sed. Quis congue pretium in enim gravida quam netus in lorem. Nulla at nibh lorem
                                    nunc sapien egestas at cursus. ”
                                </p>
                                <div class="row">
                                    <div class="col-3">
                                        <img src="~/images/reviwer2.jpg" alt="img" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="col-9">
                                        <h5 class="m-0 mt-2">Bicky Yeal</h5>
                                        <p class="text-muted">Web Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide pe-md-5">
                            <div class="my-4">
                                <p class="text-muted">
                                    “Condimentum vel viverra morbi quisque lobortis eu leo. A nulla pulvinar at
                                    ut in sit libero, sed. Quis congue pretium in enim gravida quam netus in lorem. Nulla at nibh lorem
                                    nunc sapien egestas at cursus. ”
                                </p>
                                <div class="row">
                                    <div class="col-3">
                                        <img src="~/images/reviwer3.jpg" alt="img" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="col-9">
                                        <h5 class="m-0 mt-2">Lilly Will</h5>
                                        <p class="text-muted">Web Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide pe-md-5">
                            <div class="my-4">
                                <p class="text-muted">
                                    “Condimentum vel viverra morbi quisque lobortis eu leo. A nulla pulvinar at
                                    ut in sit libero, sed. Quis congue pretium in enim gravida quam netus in lorem. Nulla at nibh lorem
                                    nunc sapien egestas at cursus. ”
                                </p>
                                <div class="row">
                                    <div class="col-3">
                                        <img src="~/images/reviwer1.jpg" alt="img" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="col-9">
                                        <h5 class="m-0 mt-2">Recco Gracia</h5>
                                        <p class="text-muted">Web Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide pe-md-5">
                            <div class="my-4">
                                <p class="text-muted">
                                    “Condimentum vel viverra morbi quisque lobortis eu leo. A nulla pulvinar at
                                    ut in sit libero, sed. Quis congue pretium in enim gravida quam netus in lorem. Nulla at nibh lorem
                                    nunc sapien egestas at cursus. ”
                                </p>
                                <div class="row">
                                    <div class="col-3">
                                        <img src="~/images/reviwer2.jpg" alt="img" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="col-9">
                                        <h5 class="m-0 mt-2">Recco Gracia</h5>
                                        <p class="text-muted">Web Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-pagination"></div>

                </div>
            </div>
        </div>
    </div>


</section>

<section id="teacher" class="padding-medium">
    <div class="container">
        <div class="text-center mb-5">
            <p class="text-secondary">Meet our popular teachers</p>
            <h2 class="display-6 fw-semibold">Our Teachers</h2>
        </div>

        <div class="row">
            <div class="col mb-5">
                <div class="team-member position-relative card rounded-4 border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect rounded-3">
                        <img src="~/images/teacher1.jpg" class="img-fluid rounded-3" alt="image">
                        <ul class="social-links list-unstyled position-absolute">
                            <li>
                                <a href="#">
                                    <svg class="facebook text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#facebook" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="twitter text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#twitter" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="instagram text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#instagram" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="linkedin text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#linkedin" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-0">
                        <div class="text-center mt-3">
                            <p class="fw-bold m-0">Anila Lee</p>
                            <p class="text-secondary m-0">Art Director</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="team-member position-relative card rounded-4 border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect rounded-3">
                        <img src="~/images/teacher2.jpg" class="img-fluid rounded-3" alt="image">
                        <ul class="social-links list-unstyled position-absolute">
                            <li>
                                <a href="#">
                                    <svg class="facebook text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#facebook" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="twitter text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#twitter" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="instagram text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#instagram" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="linkedin text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#linkedin" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-0">
                        <div class="text-center mt-3">
                            <p class="fw-bold m-0">Bruce Smith</p>
                            <p class="text-secondary m-0">Marketing Expert</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="team-member position-relative card rounded-4 border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect rounded-3">
                        <img src="~/images/teacher3.jpg" class="img-fluid rounded-3" alt="image">
                        <ul class="social-links list-unstyled position-absolute">
                            <li>
                                <a href="#">
                                    <svg class="facebook text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#facebook" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="twitter text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#twitter" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="instagram text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#instagram" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="linkedin text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#linkedin" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-0">

                        <div class="text-center mt-3">
                            <p class="fw-bold m-0">Jack Nicholson</p>
                            <p class="text-secondary m-0">SEO Expert</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="team-member position-relative card rounded-4 border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect rounded-3">
                        <img src="~/images/teacher4.jpg" class="img-fluid rounded-3" alt="image">
                        <ul class="social-links list-unstyled position-absolute">
                            <li>
                                <a href="#">
                                    <svg class="facebook text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#facebook" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="twitter text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#twitter" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="instagram text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#instagram" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="linkedin text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#linkedin" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-0">

                        <div class="text-center mt-3">
                            <p class="fw-bold m-0">Calvin Ian</p>
                            <p class="text-secondary m-0">Sales Director</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="team-member position-relative card rounded-4 border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect rounded-3">
                        <img src="~/images/teacher5.jpg" class="img-fluid rounded-3" alt="image">
                        <ul class="social-links list-unstyled position-absolute">
                            <li>
                                <a href="#">
                                    <svg class="facebook text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#facebook" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="twitter text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#twitter" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="instagram text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#instagram" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="linkedin text-dark" width="25" height="25" aria-hidden="true">
                                        <use xlink:href="#linkedin" class="text-white"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-0">

                        <div class="text-center mt-3">
                            <p class="fw-bold m-0">Milye Sam</p>
                            <p class="text-secondary m-0">Marketing Expert</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

