@{
    ViewData["Title"] = "Dashboard";
}

<section id="features">
    <div class="feature-box container">
        <div class="row ">
            <div class="col-md-3 col-sm-6 mb-5 mb-md-0">
                <div class="feature-item py-5  rounded-4">
                    <div class="feature-detail text-center">
                        <h2 class="feature-title">100+</h2>
                        <h6 class="feature-info text-uppercase">instructors</h6>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 mb-md-0">
                <div class="feature-item py-5  rounded-4">
                    <div class="feature-detail text-center">
                        <h2 class="feature-title">500+</h2>
                        <h6 class="feature-info text-uppercase">courses</h6>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 mb-md-0">
                <div class="feature-item py-5  rounded-4">
                    <div class="feature-detail text-center">
                        <h2 class="feature-title">free</h2>
                        <h6 class="feature-info text-uppercase">certifications</h6>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 mb-md-0">
                <div class="feature-item py-5  rounded-4">
                    <div class="feature-detail text-center">
                        <h2 class="feature-title">2,000+</h2>
                        <h6 class="feature-info text-uppercase">happy members</h6>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="category" class="padding-medium mt-xl-5">
    <div class="container ">
        <div class="d-md-flex justify-content-between align-items-center">
            <div>
                <p class="text-secondary ">Pick your niche and get started</p>
                <h2 class="display-6 fw-semibold">Popular Categories</h2>
            </div>
            <div class="mt-4 mt-md-0">
                <a href="#" class="btn btn-primary px-5 py-3">View all categories</a>
            </div>
        </div>
        <div class="row g-md-3 mt-2">
            <div class="col-md-4">
                <div class="primary rounded-3 p-4 my-3">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
                            <use href="#pencil-box" class="svg-primary" />
                        </svg>
                        <div class="ps-4">
                            <p class="category-paragraph fw-bold text-uppercase mb-1">Graphic Design</p>
                            <p class="category-paragraph m-0">39 courses</p>
                        </div>
                    </div>
                </div>
                <div class="tertiary rounded-3 p-4 my-3">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
                            <use href="#speakerphone" class="svg-tertiary" />
                        </svg>
                        <div class="ps-4">
                            <p class="category-paragraph fw-bold text-uppercase mb-1">SEO & Marketing</p>
                            <p class="category-paragraph m-0">24 courses</p>
                        </div>
                    </div>
                </div>
                <div class="secondary rounded-3 p-4 my-3">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
                            <use href="#handshake" class="svg-secondary" />
                        </svg>
                        <div class="ps-4">
                            <p class="category-paragraph fw-bold text-uppercase mb-1">Business & Finance</p>
                            <p class="category-paragraph m-0">16 courses</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gray rounded-3 p-4 my-3">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
                            <use href="#camera" class="svg-gray" />
                        </svg>
                        <div class="ps-4">
                            <p class="category-paragraph fw-bold text-uppercase mb-1">Video & Photography</p>
                            <p class="category-paragraph m-0">39 courses</p>
                        </div>
                    </div>
                </div>
                <div class="secondary rounded-3 p-4 my-3">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
                            <use href="#laptop" class="svg-secondary" />
                        </svg>
                        <div class="ps-4">
                            <p class="category-paragraph fw-bold text-uppercase mb-1">Computer Science</p>
                            <p class="category-paragraph m-0">16 courses</p>
                        </div>
                    </div>
                </div>
                <div class="tertiary rounded-3 p-4 my-3">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
                            <use href="#fitness" class="svg-tertiary" />
                        </svg>
                        <div class="ps-4">
                            <p class="category-paragraph fw-bold text-uppercase mb-1">Health & Fitness</p>
                            <p class="category-paragraph m-0">24 courses</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="tertiary rounded-3 p-4 my-3">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
                            <use href="#speakerphone" class="svg-tertiary" />
                        </svg>
                        <div class="ps-4">
                            <p class="category-paragraph fw-bold text-uppercase mb-1">SEO & Marketing</p>
                            <p class="category-paragraph m-0">24 courses</p>
                        </div>
                    </div>
                </div>
                <div class="primary rounded-3 p-4 my-3">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
                            <use href="#pencil-box" class="svg-primary" />
                        </svg>
                        <div class="ps-4">
                            <p class="category-paragraph fw-bold text-uppercase mb-1">Graphic Design</p>
                            <p class="category-paragraph m-0">39 courses</p>
                        </div>
                    </div>
                </div>
                <div class="gray rounded-3 p-4 my-3">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
                            <use href="#pencil-box" class="svg-gray" />
                        </svg>
                        <div class="ps-4">
                            <p class="category-paragraph fw-bold text-uppercase mb-1">Graphic Design</p>
                            <p class="category-paragraph m-0">39 courses</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="points" class="padding-medium pt-0">
    <div class="container">
        <div class="text-center">
            <p class="text-secondary ">What features we provide</p>
            <h2 class="display-6 fw-semibold">Core Features</h2>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 pe-md-5">

                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px">
                        <use href="#tick-circle" class="text-secondary" />
                    </svg>
                    <p class="ps-4">Engage with a worldwide community of inquisitive and imaginative individuals.</p>
                </div>
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px">
                        <use href="#tick-circle" class="text-secondary" />
                    </svg>
                    <p class="ps-4">Engage with a worldwide community of inquisitive and imaginative individuals.</p>
                </div>
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px">
                        <use href="#tick-circle" class="text-secondary" />
                    </svg>
                    <p class="ps-4">Learn a skill of your choice from the experts around the world from various industries</p>
                </div>
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px">
                        <use href="#tick-circle" class="text-secondary" />
                    </svg>
                    <p class="ps-4">Learn a skill of your choice from the experts around the world from various industries</p>
                </div>

            </div>
            <div class="col-md-6 pe-md-5">

                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px">
                        <use href="#tick-circle" class="text-secondary" />
                    </svg>
                    <p class="ps-4">Engage with a worldwide community of inquisitive and imaginative individuals.</p>
                </div>
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px">
                        <use href="#tick-circle" class="text-secondary" />
                    </svg>
                    <p class="ps-4">Engage with a worldwide community of inquisitive and imaginative individuals.</p>
                </div>
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px">
                        <use href="#tick-circle" class="text-secondary" />
                    </svg>
                    <p class="ps-4">Learn a skill of your choice from the experts around the world from various industries</p>
                </div>
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px">
                        <use href="#tick-circle" class="text-secondary" />
                    </svg>
                    <p class="ps-4">Learn a skill of your choice from the experts around the world from various industries</p>
                </div>

            </div>
        </div>
    </div>
</section>